html {
	height: 100%;
	margin: 0;
	
}

body {
	font-family: sans-serif;
	background-image: 
	url(https://assets.deutschlandfunk.de/FILE_4bdf5bd999e30ca90372da01b9492c53/1920x1080.jpg?t=1597532311543);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

main {
	display: flex;
    flex-direction: column;
	max-width: 300px;
	margin: 50px auto ;
}

.bio {
	text-align: center;
	color: black;
}

.nasaimg {
	border-radius: 50%;
	margin: auto;
	display: block;
}

.btn {
	padding: 17px 110px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 0;
	background-color: black;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: all .3s ease;
	box-shadow: black 0px 10px 0px 0px;
	color: hsl(0, 0%, 100%);
}
   
.btn:hover {
	box-shadow: black 0px 7px 0px 0px;
}
   
.btn:active {
	background-color: white;
	/*50, 168, 80*/
	box-shadow: white 0px 0px 0px 0px;
	transform: translateY(5px);
	transition: 200ms;
}

#tt {
	padding-left: 125px;
}

#in {
	padding-left: 135px;
}

.Hobby {
	color: white;
}