html {
  height: 100%;
  margin: 0;
  overflow: visible;
}

body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1a1918;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;
}

.bio {
  text-align: center;
  color: black;
}

.nasaimg {
  border-radius: 50%;
  margin: auto;
  display: block;
}

.socialmediabuttons {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

/* From Uiverse.io by Gautammsharma */
.comic-button-tiktok {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff0050;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button-tiktok:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #00f2ea;
}

.comic-button-tiktok:active {
  background-color: grey;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button-yt {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #c21408;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button-yt:hover {
  background-color: #fff;
  color: #c21408;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #c21408;
}

.comic-button-yt:active {
  background-color: grey;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button-github {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #24292e;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button-github:hover {
  background-color: #fff;
  color: #2b3137;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #2dba4e;
}

.comic-button-github:active {
  background-color: grey;
  box-shadow: none;
  transform: translateY(4px);
}

.comic-button-snapchat {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #fffc00;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button-snapchat:hover {
  background-color: #fff;
  color: #020202;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #fffc00;
}

.comic-button-snapchat:active {
  background-color: grey;
  box-shadow: none;
  transform: translateY(4px);
}
